[mysqld]
gtid_mode = ON
enforce_gtid_consistency = ON
disabled_storage_engines = "MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
plugin_load_add = "group_replication.so;mysql_clone.so"
report_host = {{ instance_ip }}
group_replication_group_name = "{{ cluster_name }}"
group_replication_start_on_boot = OFF
group_replication_local_address = "{{ instance_ip }}:{{ group_port }}"
group_replication_group_seeds = "{{ group_seeds }}"
group_replication_ip_allowlist = "{{ cluster_ips }}"
group_replication_single_primary_mode = {{ 'ON' if single_primary else 'OFF' }}
group_replication_enforce_update_everywhere_checks = {{ 'OFF' if single_primary else 'ON' }}
group_replication_recovery_get_public_key = ON
group_replication_autorejoin_tries = 3
group_replication_unreachable_majority_timeout = 30
group_replication_exit_state_action = READ_ONLY
