[mysqld]
wsrep_provider_options="gcache.size={{ (128 * flavor['ram']/512)|int }}M; gcache.page_size=1G"

wsrep_cluster_address="gcomm://{{ cluster_ips }}"

wsrep_cluster_name={{ cluster_name }}
wsrep_node_name={{ instance_name }}
wsrep_node_address={{ instance_ip }}
